.header {
    height: 80px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-cart {
    background-color: orange;
    margin-right: 50px;
}

.products {
    display: flex;
    justify-content: space-between;
    border: olivedrab;
}

.product-item {
    border: 1px solid black;
    margin-top: 20px;
}

.by-btn {
    border-radius: 50px;
}

.by-btn:hover {
    background-color: orange;
}